  // Navbar styles
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #221d1d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border: 1rem;
    height: 10vh;

    .logo-container {
      
      .star {
        width: auto; /* Adjust size as needed */
        height: 10vh;
      }
    }

    .nav-links-container {
      display: flex;
      flex-direction: row;
      
      .nav-link-container {
        margin: 0;
        padding: 0;

        .nav-link {
          color: #F3EED9;
          text-decoration: none;
          margin: 0 1rem;
          font-weight: bold;
          justify-content: center; /* Center nav links horizontally */
        }
    
        .nav-link:hover {
          transition: 0.2s;
          color: #A5162D;
        }
      }
    }
  }

  
  // Responsive design
  @media (max-width: 768px) {
    .navbar {
      flex-direction: row;
    }
  
    .nav-link {
      margin: 0.5rem 0;
    }
  }