  // Navbar styles
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #221d1d;
    border: 1rem;

    
    .star {
      width: 40px; /* Adjust size as needed */
      height: auto;
      background-color: rgb(63, 191, 230);
      padding: 2vh;
    }

    .nav-link {
      color: #F3EED9;
      text-decoration: none;
      margin: 0 1rem;
      font-weight: bold;
      justify-content: center; /* Center nav links horizontally */
    }

    .nav-link:hover {
      transition: 0.2s;
      color: #A5162D;
    }

  }

  
  // Responsive design
  @media (max-width: 768px) {
    .navbar {
      flex-direction: row;
    }
  
    .nav-link {
      margin: 0.5rem 0;
    }
  }