  // Navbar styles
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #221d1d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border: 1rem;

    .logo-container {
      background-color: rgb(63, 191, 230);
      border-width: 3em;
      border-left-color: #A5162D;
      border-right-color: #A5162D;
      border-top-color: #A5162D;
      border-bottom-color: #A5162D;

      .star {
        width: 40px; /* Adjust size as needed */
        height: auto;
        padding: 2vh;
        transform: rotate(15deg); /* Rotate by 30 degrees */
      }
    }

    .nav-link {
      color: #F3EED9;
      text-decoration: none;
      margin: 0 1rem;
      font-weight: bold;
      justify-content: center; /* Center nav links horizontally */
    }

    .nav-link:hover {
      transition: 0.2s;
      color: #A5162D;
    }

  }

  
  // Responsive design
  @media (max-width: 768px) {
    .navbar {
      flex-direction: row;
    }
  
    .nav-link {
      margin: 0.5rem 0;
    }
  }