.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100vh;
  height: auto;

  h1 {
    font-size: 2.5em;
    color: #A5162D;
    margin-bottom: 20px;
  }

  .contact-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2em;
    line-height: 1.6;
    color: #A5162D;

      .map-container {
        margin: 0;
        padding: 0;
        width: 100vh;
      }

      .pin {
        width: 1.2em;
        height: auto;
        margin: 0;
        padding: 0;
      }

      p {
          margin-bottom: 10px;
        
          strong {
              color: #A5162D;
          }

          a {
              color: #f093a2;
              text-decoration: none;

              &:hover {
                  text-decoration: underline;
              }
          }
      }
  }
}
